* {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

body {
	background-size: cover;
	background-position: center;
}

#bgOverlay {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
}

#credits {
	display: none;
	float: right;
    padding: 5px 10px 0;
    background: #ee6e73;
    color: white;
    font-weight: 700;
    border-top-left-radius: 7px;
}
#credits a {
	color: white;
	text-decoration: underline;
	font-weight: 700;
}

strong {
	font-weight: 700;
}

h1 {
	margin: 0;
	font-weight: 500;
}

h2 {
	margin-top: 0;
	padding-left: 20px;
	font-size: 24px;
	color: grey;
}

i {
	vertical-align: middle;
}

section p {
	font-size: 18px;
}

nav {
	margin-bottom: 50px;
}

nav ul li a {
	font-weight: 700;
}

header {
	display: flex;
	justify-content: space-between;
}

section {
	flex: 1;
}

.collapsible-header {
	display: block;
	background: rgba(255, 255, 255, 0.8)
}

.collapsible-body {
	background: rgba(255, 255, 255, 0.8)
}

.brand-logo {
	left:10px;
}

form#searchForm {
	display: flex;
	align-items: baseline;
	padding-top: 20px;
}



form#searchForm input {
	color: black;
}

form#searchForm button .progress {
	display: none;
	top: 8px;
}
form#searchForm button.disabled .progress {
	display: inline-block;
}

form#searchForm > * {
	margin: 0 10px;
}

#meteo table tr i {
	font-size: 17px;
	margin-right: 10px;
	min-width: 25px;
}

#meteo table tr td:first-child {
	color: rgba(0, 0, 0, 0.7)
}

#meteo table td::first-letter {
	text-transform: capitalize;
}

#cityTitle {
	margin-right: 20px;
}

@media screen and (max-width: 800px) {
	header {
		flex-direction: column;
	}

	header form#searchForm div.input-field {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	header form#searchForm {
		flex-direction: column;
		align-items: flex-end;
	}

	header form#searchForm button {
		margin-top: 10px;
	}
}
